<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\MessageQueue\MessageValidator">
        <plugin name="comwrapWebapiAsyncObjectValidationPluginMagentoFrameworkMessageQueueMessageValidator"
                type="Comwrap\WebapiAsyncObjectValidation\Plugin\Magento\Framework\MessageQueue\MessageValidator"/>
    </type>
    <type name="Magento\Framework\Webapi\ServiceInputProcessor">
        <plugin name="comwrapWebapiAsyncObjectValidationPluginMagentoFrameworkWebapiServiceInputProcessor"
                type="Comwrap\WebapiAsyncObjectValidation\Plugin\Magento\Framework\Webapi\ServiceInputProcessor"/>
    </type>
    <type name="Magento\AsynchronousOperations\Model\BulkManagement">
        <arguments>
            <argument name="entityManager" xsi:type="object">Comwrap\WebapiAsyncObjectValidation\Magento\Framework\EntityManager\EntityManager</argument>
        </arguments>
    </type>
</config>
